<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2021 Company, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      Edited by Billy Micah, 
      <small>Forked from Deborah Kuratah</small>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a [routerLink]="['/products']" class="nav-link px-2 text-muted">Products</a></li>
      <li class="nav-item"><a [routerLink]="['/products/alternate']" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a [routerLink]="['/https://learn.billymicah.com']" routerLinkActive="router-link-active"  class="nav-link px-2 text-muted">About Me</a></li>
    </ul>
  </footer>